*.lua
*.txt
ceshare/
dlls/
forms/
images/export128x128.png
images/import128x128.png

# include
!.gitignore

!images
!movbe.lua
!README.md
!timer.lua
!utils.lua
!ce3.jpg
!load-my-image.lua
!CE_Plugin/
!Target.lua
!onOpenProcess.lua
!CopyCurrentAddress.lua
!CopyPointers.lua