*.lua
*.txt
ceshare/
dlls/
forms/
images/export128x128.png
images/import128x128.png

# include
!.gitignore

!images
!autorunMonoMethod.lua
!getJmpNewBytes.lua
!movbe.lua
!README.md
!timer.lua
!utils.lua
!ce3.jpg
!load-my-image.lua
!CE_Plugin/
